@{
    ViewBag.Title = "Home Page";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
  @*
    @{
        var num1 = 5;
        var num2 = 10;
        var result = num1 + num2;
    }
    <h5>Sum of @num1 + @num2 = @result</h5>


    @{var message = "I am Single Line Statements";}
    <h5>The message is : @message</h5>

    @{ 
        string msg1 = "Hello";
        int num = 5;
        var result = num + msg1;
        <h1>@result</h1>

    }

    @{ 
        string name = "Danny";
        int age = 28;
    }
    <h1>Hello @name! You are @age years old.</h1>

    @{ 
        int num1 = 8;
        int num2 = 5;
        int sum = num1 + num2;
     }
    <h1>@num1 plus @num2 equals @sum</h1> 

    @{ 
        var num1 = "200";
        var num2 = "300";
        num1.IsInt();
        num2.IsInt();

        int sum = num1 + num2;
    }
    <h1>@sum</h1> Didn't work properly, still needs work on "int sum =" line 

    @{ 
        int num = 5;
    }

    <h1>@num is actuuuuaaaally @{num++;} : @num</h1> *@

    @{ 
        var number = "32";
        int num;

        if(number.IsInt()==true)
        {
            num = number.AsInt();
            <h5>@num is Interger Value</h5>
        }

        var v = "3.14";
        float f;
        if(v.IsFloat() ==true)
        {
            f = v.AsFloat();
            <h5>@f</h5>
        }

    }

</body>
</html>



